<!--
title: WeKan Update Version
description: this is how to do it hehe
published: true
date: 2021-05-05T10:09:36.641Z
tags: administration, wekan
editor: ckeditor
dateCreated: 2021-05-05T10:09:36.641Z
-->

<p>I used <mark class="marker-yellow">WYSiWYG</mark> editor !</p>
<p>Should I stick to <strong>markdown </strong>?</p>
<p>&nbsp;</p>
<p>There's plenty <s>of </s><sub>options </sub><sup>here </sup>!🔜</p>
<p>&nbsp;</p>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
